body {
  background-image: url("../assets/images/background.png");
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#solar-system {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#stars {
  width: 30vw;
  position: relative;
}

#gradient {
  position: absolute;
  width: 30vw;
  height: 100vh;
  right: 0;
  top: 0;
  background-image: url("../assets/images/planets/sunGradient.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  z-index: 1;
}

#sun {
  width: 30vw;
  height: 100vh;
  background-image: url("../assets/images/planets/sun.gif");
  transform: rotate(180deg);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

#planets {
  display: none;
}

.row {
  width: 70vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.row > div {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10px;
  animation: float 3s linear infinite;
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(5%, 0);
  }
  50% {
    transform: translate(5%, 5%);
  }
  75% {
    transform: translate(0, 5%);
  }
  100% {
    transform: translate(0, 0);
  }
}

#mercury {
  width: 40px;
  height: 40px;
  background-image: url("../assets/images/planets/mercury.jpeg");
  animation-delay: 1s;
}

#venus {
  width: 60px;
  height: 60px;
  background-image: url("../assets/images/planets/venus.jpeg");

  animation-delay: 2s;
}

#earth {
  width: 65px;
  height: 65px;
  background-image: url("../assets/images/planets/earth.jpeg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  animation-delay: 3s;
}

#mars {
  width: 63px;
  height: 63px;
  background-image: url("../assets/images/planets/mars.jpeg");
  animation-delay: 4s;
}

#jupiter {
  width: 140px;
  height: 140px;
  background-image: url("../assets/images/planets/jupiter.png");
  animation-delay: 1s;
}

#saturn {
  width: 250px;
  height: 90px;
  background-image: url("../assets/images/planets/saturn.jpg");
}

#uranus {
  width: 80px;
  height: 80px;
  background-image: url("../assets/images/planets/uranus.jpeg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  animation-delay: 10ms;
}

#neptune {
  width: 85px;
  height: 85px;
  background-image: url("../assets/images/planets/neptune.jpeg");
  animation-delay: 2s;
}

#pluto {
  width: 30px;
  height: 30px;
  background-image: url("../assets/images/planets/pluto.jpeg");
  animation-delay: 3s;
}

#questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#input-age {
  margin: auto;
  font-size: 20px;
  padding: 10px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#input-age::placeholder {
  color: white;
}

.question {
  font-size: 20px;
  margin: 10px;
}

.form-group label {
  background-color: transparent;
  border: 1px solid white;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0px 10px;
}

.form-group label:hover,
#submit:hover,
.active {
  background-color: white;
  color: black;
}

.form-group {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

#submit {
  width: 100px;
  margin: 20px auto;
  font-size: 20px;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
