body {
  background-image: url("../assets/images/background.png");
  background-size: cover;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

#solar-system {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#stars {
  width: 300px;
  position: relative;
}

#gradient {
  position: absolute;
  width: 300px;
  height: 100vh;
  right: 0;
  top: 0;
  background-image: url("../assets/images/planets/sunGradient.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

#sun {
  width: 300px;
  height: 100vh;
  background-image: url("../assets/images/planets/sun.gif");
  transform: rotate(180deg);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  opacity: 1;
}

#planets {
  width: 100%;
  display: none;
  justify-content: space-evenly;
  align-items: center;
}

#planets > div {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10px;
  cursor: pointer;
}

@keyframes floatDown {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-7px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes floatUp {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(7px);
  }
  100% {
    transform: translatey(0px);
  }
}

#mercury {
  width: 40px;
  height: 40px;
  background-image: url("../assets/images/planets/mercury.jpeg");
  animation: floatUp 3s linear infinite;
}

#venus {
  width: 60px;
  height: 60px;
  background-image: url("../assets/images/planets/venus.jpeg");
  animation: floatDown 3s linear infinite;
}

#earth {
  width: 65px;
  height: 65px;
  background-image: url("../assets/images/planets/earth.jpeg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  animation: floatUp 3s linear infinite;
}

#mars {
  width: 63px;
  height: 63px;
  background-image: url("../assets/images/planets/mars.jpeg");
  animation: floatDown 3s linear infinite;
}

#jupiter {
  width: 140px;
  height: 140px;
  background-image: url("../assets/images/planets/jupiter.png");
  animation: floatUp 3s linear infinite;
}

#saturn {
  width: 250px;
  height: 90px;
  background-image: url("../assets/images/planets/saturn.jpg");
  animation: floatDown 3s linear infinite;
}

#uranus {
  width: 80px;
  height: 80px;
  background-image: url("../assets/images/planets/uranus.jpeg");
  animation: floatUp 3s linear infinite;
}

#neptune {
  width: 85px;
  height: 85px;
  background-image: url("../assets/images/planets/neptune.jpeg");
  animation: floatDown 3s linear infinite;
}

#pluto {
  width: 30px;
  height: 30px;
  background-image: url("../assets/images/planets/pluto.jpeg");
  animation: floatUp 3s linear infinite;
}

#questions-box {
  width: 70vw;
  display: none;
}

#questions {
  margin: auto;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#input-age {
  margin: auto;
  font-size: 20px;
  padding: 10px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#input-age::placeholder {
  color: white;
}

.question {
  font-size: 20px;
  margin: 10px;
}

.form-group {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.form-group label {
  background-color: transparent;
  border: 1px solid white;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0px 10px;
}

.form-group label:hover,
button:hover,
label.checked {
  background-color: white;
  color: black;
}

button {
  width: 100px;
  margin: 20px auto;
  font-size: 20px;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.form-group input {
  display: none;
}

#years-passed {
  display: none;
}

#years-left {
  display: none;
}

.info {
  position: absolute;
  bottom: 0px;
  left: -150px;
  width: 300px;
  background-color: rgb(27, 25, 25, 0.8);
  border: 1px solid white;
}

.flex {
  display: flex !important;
}

#info-box {
  border: 1px solid white;
  width: 430px;
  padding: 10px;
  position: absolute;
  top: 20px;
  left: calc(50% - 85px);
  font-size: 20px;
  display: none;
}

#start {
  position: absolute;
  right: 10%;
  bottom: 10%;
}
